<div class="container">
    <div class="admin-container-content">
        <header class="px-4">
            <h1 class="row py-2 pl-2 text-primary">
                Kết quả giải đấu {{tournament.TenGD}}
            </h1>
        </header>
        <div>
            <div class="row pb-2 d-flex align-items-center justify-content-end">
                <form class="col-lg-4 pb-2 text-center" action="/tournament/{{tournament.MaGD}}/schedule">
                    <a href="/tournament/{{tournament.MaGD}}/schedulePage" class="btn btn-info btn-link">
                        <i class="far fa-calendar-alt"></i><span>Xếp lích</span>
                    </a>
                </form>
            </div>

            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>Mã Trận đấu</th>
                    <th>Mã Đội 1</th>
                    <th>Mã đội 2</th>
                    <th>Mã Vòng đấu</th>
                    <th>Mã Sẫn đấu</th>
                    <th>Giờ bắt đầu</th>
                    <th>Ngày thi đấu</th>
                    <th>Tỷ số</th>
                    <th>Đội thắng</th>
                    <th>Cập nhập</th>
                </tr>
                </thead>
                <tbody>
                {{#each matches}}
                    <tr>
                        <td>{{MaTD}}</td>
                        <td>{{MaDB1}}</td>
                        <td>{{MaDB2}}</td>
                        <td>{{MaVD}}</td>
                        <td>{{MaSD}}</td>
                        <td>{{GioBatDau}}</td>
                        <td>{{NgThiDau}}</td>
                        <td>{{TySo}}</td>
                        <td>{{DoiThang}}</td>
                        <td>
                            {{#unless DoiThang}}
                                <a href="#editModal" class="edit" data-toggle="modal">
                                    <input type="hidden" class="tournamentId" value="{{MaTD}}">
                                    <i class="fas fa-pencil-alt"></i>
                                    <input type="hidden" class="team1Id" value="{{MaDB1}}">
                                    <input type="hidden" class="team2Id" value="{{MaDB2}}">
                                </a>
                            {{/unless}}
                        </td>

                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>

    </div>
</div>

<!-- Edit Modal HTML -->
<div id="editModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="editResultForm" action="/tournament/{{tournament.MaGD}}/result">
                <input type="hidden" name="matchId" id="editID">
                <div class="form-group m-4">
                    <label for="team1Goal" class="col-form-label">Số bàn thắng đội thứ 1</label>
                    <input name="team1Goal" type="number" class="form-control teamGoal" id="team1Goal"required>
                </div>
                <div class="form-group m-4">
                    <label for="team2Goal" class="col-form-label">Số bàn thắng đội thứ 2</label>
                    <input name="team2Goal" type="number" class="form-control teamGoal" id="team2Goal" required>
                </div>
                <div class="form-group m-4" id="selectWinTeam">
                    <p>Chọn đội chiến thắng</p>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" id="team1Select" name="winTeam" value="1">Đội thứ 1
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" id="team2Select" name="winTeam" value="2">Đội thứ 2
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Hủy">
                    <button id="updateResultBtn" type="button" class="btn btn-danger">Cập nhập</button>
                </div>

            </form>
        </div>
    </div>
</div>


{{#section 'script'}}
<!--    <script src="/javascripts/filterEditDelete.js"></script>-->
    <script>
        $(".edit").click(function() {
            const id = $(this).children('.tournamentId').val();
            console.log(id);
            $("#editID").val(id);

            console.log('tournamentId:', id);


        });

    </script>
    <script>



        $(document).ready(function(){
            $("#selectWinTeam").hide();
        });

        $(".teamGoal").change(function (e){
            console.log("change goal",e.target);
            const team1Goal = $("#team1Goal").val();
            const team2Goal = $("#team2Goal").val();

            console.log("team1Goal: ",team1Goal);
            console.log("team2Goal: ",team2Goal);
            if(team1Goal === team2Goal){

                $("#selectWinTeam").show();
                const team1Id = $('.edit .team1Id').val();
                const team2Id = $('.edit .team2Id').val();

                // $("#team1select").val(team1Id);
                // $("#team2Select").val(team2Id);
                //
                // console.log('team1Id:', team1Id);
                // console.log('team2Id:', team2Id);
                //
                // console.log('team1select:', $("#team1select").val());
                // console.log('team2Select:', $("#team2select").val());
            }else{
                $("#selectWinTeam").hide();
            }
        })

        $("#updateResultBtn").click(function (){
            const team1Goal = $("#team1Goal").val();
            const team2Goal = $("#team2Goal").val();
            const winTeam = $('input[name="winTeam"]').val();
            if(team1Goal === team2Goal && !winTeam){
                console.log("chưa chọn win team")
            }else {
                console.log("đã chọn win team", winTeam);
                $("#editResultForm").submit();

            }
        })
    </script>
{{/section}}

