<div class="container">
    <div class="admin-container-content">
        <header class="px-4">
            <h1 class="row py-2 pl-2 text-primary">
                Xếp lịch thi đấu {{tournament.TenGD}}
            </h1>
        </header>
        <div>
            <div class="row pb-2 d-flex align-items-center justify-content-end">
                <form class="col-lg-4 pb-2 text-center" action="/tournament/{{tournament.MaGD}}/schedule">
                    <button type="submit" class="btn btn-success">
                        <i class="far fa-calendar-alt"></i><span>Xếp Lịch thi đấu</span>
                    </button>
                </form>
            </div>

            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>Mã Trận đấu</th>
                    <th>Mã Đội 1</th>
                    <th>Mã đội 2</th>
                    <th>Mã Vòng đấu</th>
                    <th>Mã Sẫn đấu</th>
                    <th>Giờ bắt đầu</th>
                    <th>Ngày thi đấu</th>
                    <th>Tỷ số</th>
                    <th>Đội thắng</th>
                </tr>
                </thead>
                <tbody>
                {{#each matches}}
                    <tr>
                        <td>{{this.MaTD}}</td>
                        <td>{{this.MaDB1}}</td>
                        <td>{{this.MaDB2}}</td>
                        <td>{{this.MaVD}}</td>
                        <td>{{this.MaSD}}</td>
                        <td>{{this.GioBatDau}}</td>
                        <td>{{this.NgThiDau}}</td>
                        <td>{{this.TySo}}</td>
                        <td>{{this.DoiThang}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>

    </div>
</div>

<!-- Delete Modal HTML -->
<div id="deleteModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="get" action="/team/delete">
                <input type="hidden" name="deleteID" id="deleteID">
                <div class="modal-header">
                    <h4 class="modal-title">Xóa đội này?</h4>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true"></button>
                </div>
                <div class="modal-body">
                    <p>Bạn chắc chắn xóa đội?</p>
                    <p class="text-warning"><small>Hành động này sẽ không được phục hồi!</small></p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Hủy">
                    <input type="submit" class="btn btn-danger" value="Xóa">
                </div>
            </form>
        </div>
    </div>
</div>

<div id="deleteAllModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div>
                <div class="modal-header">
                    <h4 class="modal-title">Xóa tất cả thành viên?</h4>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true"></button>
                </div>
                <div class="modal-body">
                    <p>Bạn chắc chắn xóa tất cả thành viên khỏi đội?</p>
                    <p class="text-warning"><small>Hành động này sẽ không được phục hồi!</small></p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Hủy">
                    <button type="submit" class="btn btn-danger" form="selectedForm">Xóa</button>
                </div>
            </div>
        </div>
    </div>
</div>

{{#section 'script'}}
    <script src="/javascripts/filterEditDelete.js"></script>

    <script src="/javascripts/pagination.js"></script>
{{/section}}
