<div class="container">
    <div class="admin-container-content">
        <header class="px-4">
            <h1 class="row py-2 pl-2 text-primary">
                Danh sách đội của giải đấu {{tournament.TenGD}}
            </h1>
        </header>
        <div class="table-wrapper px-4">
            <div class="">
                <div class="row pb-2 d-flex align-items-center justify-content-between">
                    <div class="col-lg-4 pb-2">

                    </div>
                    <div class="col-lg-4 pb-2 text-center">
                        <a href="/tournament/{{tournament.MaGD}}/resultPage" class="btn btn-info btn-link">
                            <i class="far fa-calendar-alt"></i><span>Kết quả</span>
                        </a>
                        <a href="/tournament/{{tournament.MaGD}}/schedulePage" class="btn btn-info btn-link">
                            <i class="far fa-calendar-alt"></i><span>Lịch thi đấu</span>
                        </a>
                        <a href="#deleteAllModal" class="btn btn-danger btn-delete" data-toggle="modal">
                            <i class="fas fa-minus-circle"></i><span>Xóa tất cả</span>
                        </a>
                    </div>
                </div>
            </div>

            <form action="/team/deleteAll" method="get" id="selectedForm">
                <table id="table" class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
<!--                        <th>-->
<!--                            <span class="custom-checkbox">-->
<!--                                <input type="checkbox" id="selectAll">-->
<!--                                <label for="selectAll"></label>-->
<!--                            </span>-->
<!--                        </th>-->
                        <th>Mã đội bóng</th>
                        <th>Tên đội bóng</th>
                        <th>Số thành viên</th>
                        <th>Màu áo</th>
                        <th>Điểm</th>
                        <th>Mã người đăng ký</th>
                        <th>Mã giải đấu</th>
                        <th>Mã bảng đấu</th>
                        <th>Sửa/Xóa</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each teams}}
                        <tr>
<!--                            <td>-->
<!--                        <span class="custom-checkbox">-->
<!--                            <input class="select-row-checkbox" type="checkbox" id="checkbox1" name="idOptions[]" value="{{MaDB}}">-->
<!--                            <label for="checkbox1"></label>-->
<!--                        </span>-->
<!--                            </td>-->

                            <td>{{MaDB}}</td>
                            <td>{{TenDB}}</td>
                            <td>{{SoThanhVien}}</td>
                            <td>{{MauAo}}</td>
                            <td>{{Diem}}</td>
                            <td>{{MaNDK}}</td>
                            <td>{{MaGD}}</td>
                            <td>{{MaBD}}</td>
                            <td>
                                {{#unless ../isDeadlineTournament}}
                                    <a href="#deleteModal" class="delete" data-toggle="modal">
                                        <input type="hidden" value="{{MaDB}}">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                {{/unless}}
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </form>
        </div>

        <footer class="row justify-content-center">
            <nav class="col-lg-3 col-md-6 col-sm-9" aria-label="Page navigation example" id="pagination">
                {{{createPagination pagination paginationClass="pagination"}}}
            </nav>
        </footer>
    </div>
</div>

{{#section 'script'}}
    <script src="/javascripts/filterEditDelete.js"></script>

    <script src="/javascripts/pagination.js"></script>
{{/section}}
